.list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
  
.button {
  min-width: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #000000;
  overflow: hidden;
  background-color: transparent;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
  cursor: pointer;
}
  
.button:hover {
  background-color: rgb(0, 140, 255);
  color: #ffffff;
}